@import "variables";


.luminoso{
    i, span{
        color:$luminoso-light-off;
        animation: lighting 1.4s linear infinite;
    }
    
}

@keyframes lighting{
    
    0%{
        color:$luminoso-light-off;
        text-shadow: none;
    }
    80%{
        color:$luminoso-light-on;
        text-shadow:0 0 7px $luminoso-light-on, 0 0 50px $luminoso-shadow;
    }

    90%{
        color:$luminoso-light-off;
        text-shadow: none
    }

    100%{
        color:$luminoso-light-on;
        text-shadow:0 0 7px $luminoso-light-on, 0 0 50px $luminoso-shadow;
    }
}