//colores
$white:#fff;
$Hawaiian-Tan:#ac501a;
$Tower-grey:#acb7bd;
$Red-ribbon:#e20048;
$Tundora:#484848;
$Yellow:#fff900;
$Blaze-orange:#ff6c00;


$nav-element:$Hawaiian-Tan;
$bg-light:$Tower-grey;
$boton-rosa-footer:$Red-ribbon;
$luminoso-light-off:$Tundora;
$luminoso-light-on:$Yellow;
$luminoso-shadow:$Blaze-orange;

//fonts
@font-face{
    //fuente header
    font-family: anton;
    src: url(../src/assets/fonts/Anton/Anton-Regular.ttf);

    //fuente luminoso footer
    font-family: nanum;
    src: url(../src/assets/fonts/NanumPenScript/NanumPenScript-Regular.ttf);

}